<h1><%= @user.username %></h1>

<%= gravatar_for @user %>

<% if logged_in? and @user == current_user %>
  <div>
    <%= link_to "Edit profile", edit_user_path(@user) %>
  </div>
<% end %>

<h2>Articles</h2>

<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= render 'articles/article' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
